<section>
    <div class="flex">
        <div class="w-3/4 rounded bg-gradient-to-b from-primary to-yellow-400 h-full w-full mr-6">
            <h1 class="text-5xl md:text-6xl lg:text-6xl text-dark font-bold py-20 px-16">Inbound Call Center services in UK, USA &
                Australia
            </h1>
        </div>
        <div class="w-3/4 text-left">
            <div class="container">
                <h2 class="h2 tracking-tight text-secondary">Cab Connect's Commitment</h2>
                <div class="text-2xl mt-6 space-y-6 text-gray-900 dark:text-white inline-block">
                    <p class="leading-7 text-base text-white inline-block">Cab Call was established and meticulously
                        designed to offer professional reservations and live dispatch services tailored for taxi,
                        limousine, and other passenger transportation providers. Our focus is on answering incoming
                        calls promptly, ensuring your business name is acknowledged within three rings or less. By
                        leveraging our services, you not only enhance revenue but also retain customers, as our
                        dedicated customer service agents understand the significance of every incoming call to your
                        business.
                    </p>
                </div>
                <div class="mt-2">
                    <h2 class="h2 tracking-tight text-secondary">Dispatching Solution</h2>
                <div class="text-2xl mt-3 space-y-6 text-gray-900 dark:text-white inline-block">
                    <p class="leading-7 text-base text-white inline-block">Our adept team of dispatchers offers affordable dispatching services suitable for operators of any size, from single-car operations to fleets of a hundred cars. Let us optimize and enhance your fleet usage through our expert logistics planning.
                    </p>
                </div>
                </div>
                <div class="mt-2">
                    <h2 class="h2 tracking-tight text-secondary">Responsive Service</h2>
                <div class="text-2xl mt-3 space-y-6 text-gray-900 dark:text-white inline-block">
                    <p class="leading-7 text-base text-white inline-block">Each incoming call is handled with professional care, treating your customers as VIPs. Confirmations, trip receipts, and other paperwork are promptly managed, regardless of the time of day. We understand that your customers expect consistent, prompt service, and we strive to exceed those expectations. Trust Cab Call to seize every opportunity to book a ride and deliver exceptional customer care for your transportation business.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>