<section>
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row">
            <div class="w-full md:w-1/2">
                <h4 class="h4 text-yellow-400 max-w-xl mx-auto">Who are we</h4>
                <h3 class="h2 text-white max-w-xl mx-auto py-4">Making Cab Disptach Outsourcing Easy and Affordable</h3>
                <p class="text-base text-white max-w-xl mx-auto py-6">
                    Cab Connects was established in 2021 to offer reliable and cost-effective outsourcing solutions to businesses. Operating in the UK, United States, and Australia, we are committed to empowering cab and limousine enterprises with customized call center solutions. From efficient cab dispatch to meticulous limousine dispatch and precise data entry, our services boost efficiency, reduce costs, and enhance competitiveness. Join us to thrive in today's dynamic market.
<br><br>
                    Specializing in Business Process Outsourcing, we cater to small, medium, and large enterprises, as well as startups. With Cab Connects, rest assured that your outsourcing needs are in expert hands.</p>
            </div>
            <div class="w-full md:w-1/2">
                <div class="flex justify-center mt-8">
                    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

    <dotlottie-player src="https://lottie.host/448bf4d6-d99a-4608-82c2-dd3af98bb6a1/JDJkl5VExO.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
                </div>
            </div>
        </div>
    </div>
</section>