<section>
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row">
            <div class="w-full md:w-1/2">
                <h4 class="h4 text-yellow-400 max-w-xl mx-auto">Who are we</h4>
                <h3 class="h2 text-white max-w-xl mx-auto py-4">Making Cab Disptach Outsourcing Easy and Affordable</h3>
                <p class="text-base text-white max-w-xl mx-auto py-6">
                    Cab Connects was founded in 2021 to provide businesses with reliable and affordable outsourcing solutions. We help Cab and taxi businesses everywhere cut costs and compete more effectively.
                    <br>
                    <br>
                    We specialize in Business Process Outsourcing and have expanded our operations to service small, medium and large enterprises, as well as startups. With Cab Connects, you can be confident that your outsourcing needs are being attended to.
                </p>
            </div>
            <div class="w-full md:w-1/2">
                <div class="flex justify-center mt-8">
                    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

    <dotlottie-player src="https://lottie.host/448bf4d6-d99a-4608-82c2-dd3af98bb6a1/JDJkl5VExO.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
                </div>
            </div>
        </div>
    </div>
</section>