<section>
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row py-16">
            <div class="w-full md:w-1/2">
                <h4 class="h4 text-yellow-400 max-w-xl mx-auto">Outsourcing Paksitan</h4>
                <h3 class="h2 text-white max-w-xl mx-auto py-4">Choose Pakistan as Your Next Outsourcing Destination</h3>
                <p class="text-xl text-white max-w-xl mx-auto py-6">Pakistan is rapidly becoming a leading outsourcing destination, boasting a vibrant community of over 700 outsourcing firms employing over 1.2 million individuals. This sector contributes significantly to the economy, generating upwards of $22 billion annually, with an impressive growth rate exceeding 12 percent each year. Its strategic positioning in Asia, along with a skilled workforce, cost-effective labor, and robust infrastructure, gives Pakistan a competitive advantage over other outsourcing hubs.
<br><br>
                    A decade ago, numerous outsourcing enterprises established operations in Pakistan, enticed by the prospect of accessing a workforce at competitive wages. Today, Pakistan stands as a global frontrunner in business process outsourcing (BPO), with annual revenues amounting to billions of US Dollars. Given these favorable conditions, there's ample rationale for businesses to explore outsourcing opportunities within Pakistan.</p>
            </div>
            <div class="w-full md:w-1/2">
               <div class="relative mx-auto">
                {{ with resources.Get "images/pakistan.svg" }}
                {{ $together := .RelPermalink }}
                <img src="{{$together}}" class="h-132" alt="asdasd">
                {{ end }}
               </div>
            </div>
        </div>
        <div class="flex justify-center">
            <p class="text-3xl text-white max-w-6xl font-bold">
                We've engaged with clients worldwide who have outsourced to Pakistan, and their feedback echoes a sentiment of satisfaction:<i class="font-normal">"Opting for Pakistan as an outsourcing destination was driven by its cost-effectiveness, efficient processes, and meticulous attention to detail. While India might have presented even lower costs, Pakistan's appeal extends beyond financial considerations. I was genuinely impressed by Pakistan's rich culture, its hospitable populace, and the seamless integration of Western values among Pakistanis."</i>
            </p>
        </div>
    </div>
</section>