<section>
    <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
        <h2 class="mb-8 lg:mb-16 text-2xl font-bold tracking-tight leading-tight text-center text-white  md:text-3xl">
            Technologies we use</h2>
        <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-4 dark:text-gray-400">
            <a href="#" class="flex justify-center items-center">
                {{ with resources.Get "images/technologies/icabbi.png" }}
            {{ $together := .RelPermalink }}
            <img src="{{$together}}" class="h-auto hover:grayscale-0 grayscale" alt="iCabbi software used by Cab Connects for cab dispatching in UK">
            {{ end }}
            </a>
            <a href="#" class="flex justify-center items-center">
                {{ with resources.Get "images/technologies/autocab.svg" }}
            {{ $together := .RelPermalink }}
            <img src="{{$together}}" class="h-32 hover:grayscale-0 grayscale" alt="Auto cab software used by Cab Connects for cab dispatching in UK">
            {{ end }}
            </a>
            <a href="#" class="flex justify-center items-center">
                {{ with resources.Get "images/technologies/quickride.svg" }}
            {{ $together := .RelPermalink }}
            <img src="{{$together}}" class="h-32 hover:grayscale-0 grayscale" alt="Quick Ride software used by Cab Connects for cab dispatching in UK">
            {{ end }}
            </a>
            <a href="#" class="flex justify-center items-center">
                {{ with resources.Get "images/technologies/unico.png" }}
            {{ $together := .RelPermalink }}
            <img src="{{$together}}" class="h-auto bg-white hover:bg-gray-50 hover:grayscale-0 grayscale" alt="Unico  software used by Cab Connects for cab dispatching in UK">
            {{ end }}
            </a>
        </div>
    </div>
</section>